{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}



<!-- header end -->
<!-- breadcrumb-section start -->
<nav class="breadcrumb-section theme1 bg-lighten2 pt-110 pb-110">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title pb-4 text-dark text-capitalize">register</h2>
        </div>
      </div>
      <div class="col-12">
        <ol
          class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center"
        >
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Register yourself
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- breadcrumb-section end -->

<!-- login area start -->
<div class="login-register-area pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-register-tab-list nav">
            <a data-toggle="tab" href="#lg2">
              <h4>register</h4>
            </a>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <div class="login-register-form">
                  <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    
                    {{form | crispy}}
                    
                    <br>

                    <div style=" justify-content: center; text-align: center; display: blocl;">

                    <button type="submit" value="Register" class="btn btn-dark btn--md">
                      <span>Register
                      </span>
                    </button>

                    </div>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" onmouseover="this.style.color='white';" class="btn btn-dark btn--md" type="submit" style="background-color: #DB4437; margin-top: 10px;">
                          
                      <span>
                        <img src = "{% static 'assets/img/logo/google.png' %}"/ width="5%" height="5%">
                        Google+ Sign Up
                      </span>
                    
                    </a>
                    </form>
                 
           
                </div>
              </div>
            </div>
            <div id="lg2" class="tab-pane">
              <div class="login-form-container">
                <div class="login-register-form">
                  <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    
                    {{form | crispy}}
                    <button type="submit" value="Register" class="btn btn-dark btn--md">
                      <span>Register
                      </span>
                    </button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login area end -->
<!-- footer strat -->
{% endblock %}